@model Real_Estate.Core.Application.Dto.CustomerDto
<div>Are you sure you want to delete this Customer?</div>

<form asp-action="Delete">
    <input type="hidden" value="@Model.Id"/>
    <input class="btn btn-danger" type="submit" value="Delete"/>
    <li>
        <a asp-controller="Customer" asp-action="List">No</a>
        </li>
</form>
<style>
.confirmation-message {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

.delete-button {
    margin: 10px;
}

.cancel-button {
    margin: 10px;
}
</style>